.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 9, 9);
    font-weight: 500;
    font-size: smaller;
    height: 50px;
    width: 100px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 10px;
}