body{
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-right: 10px;
}

.container{
    display: flex;
    justify-content: center;
}

#box1{
    background-color: grey;
}

#box2{
    background-color: #fff;
}

#box3{
    background-color: blue;
}

#box4{
    background-color: yellow;
}